@charset "UTF-8";

@font-face {
  font-family: 'titillium_thin';
  src:url('fonts/titilliumtext22l001-webfont.eot');
  src:url('fonts/titilliumtext22l001-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/titilliumtext22l001-webfont.woff') format('woff'),
  url('fonts/titilliumtext22l001-webfont.ttf') format('truetype'),
  url('fonts/titilliumtext22l001-webfont.svg#titilliumtext22l_ththin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'titillium_light';
  src:url('fonts/titilliumtext22l002-webfont.eot');
  src:url('fonts/titilliumtext22l002-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/titilliumtext22l002-webfont.woff') format('woff'),
  url('fonts/titilliumtext22l002-webfont.ttf') format('truetype'),
  url('fonts/titilliumtext22l002-webfont.svg#titilliumtext22llight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'titillium_regular';
  src:url('fonts/titilliumtext22l003-webfont.eot');
  src:url('fonts/titilliumtext22l003-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/titilliumtext22l003-webfont.woff') format('woff'),
  url('fonts/titilliumtext22l003-webfont.ttf') format('truetype'),
  url('fonts/titilliumtext22l003-webfont.svg#titilliumtext22l_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'titillium_ltmedium';
  src: url('fonts/titilliumtext22l004-webfont.eot');
  src: url('fonts/titilliumtext22l004-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/titilliumtext22l004-webfont.woff') format('woff'),
    url('fonts/titilliumtext22l004-webfont.ttf') format('truetype'),
    url('fonts/titilliumtext22l004-webfont.svg#titilliumtext22l_ltmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
    font-family: 'chanticleer';
    src: url('fonts/CHANTICL-webfont.eot');
    src: url('fonts/CHANTICL-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/CHANTICL-webfont.woff') format('woff'),
         url('fonts/CHANTICL-webfont.ttf') format('truetype'),
         url('fonts/CHANTICL-webfont.svg#chanticleerromanregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/glyphicons-halflings-regular.woff') format('woff'),
  url('fonts/glyphicons-halflings-regular.ttf') format('truetype'),
  url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}



@font-face {
  font-family: "townomatic";
  src:url("fonts/townomatic.eot");
  src:url("fonts/townomatic.eot?#iefix") format("embedded-opentype"),
    url("fonts/townomatic.woff") format("woff"),
    url("fonts/townomatic.ttf") format("truetype"),
    url("fonts/townomatic.svg#townomatic") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "townomatic" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "townomatic" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-antelope-rampant-demonic:before {
  content: "a";
}
.icon-antelope-statant:before {
  content: "b";
}
.icon-ape:before {
  content: "c";
}
.icon-pegasus:before {
  content: "d";
}
.icon-ape-collared-and-chained:before {
  content: "e";
}
.icon-bat:before {
  content: "f";
}
.icon-bear-passant:before {
  content: "g";
}
.icon-bear-rampant:before {
  content: "h";
}
.icon-bear-sejeant-erect:before {
  content: "i";
}
.icon-bears-head-couped:before {
  content: "j";
}
.icon-bears-head-erased-and-muzzled:before {
  content: "k";
}
.icon-bee-volant:before {
  content: "l";
}
.icon-boar-passant:before {
  content: "m";
}
.icon-boar-rampant:before {
  content: "n";
}
.icon-boar-statant:before {
  content: "o";
}
.icon-boars-head-couped:before {
  content: "p";
}
.icon-boars-head-erased:before {
  content: "q";
}
.icon-bordure-invected:before {
  content: "r";
}
.icon-bordure-nebuly:before {
  content: "s";
}
.icon-bordure-potenty:before {
  content: "t";
}
.icon-bordure-wavy:before {
  content: "u";
}
.icon-bucks-head-couped:before {
  content: "v";
}
.icon-bull-passant:before {
  content: "w";
}
.icon-bull-rampant:before {
  content: "x";
}
.icon-bulls-head-caboshed:before {
  content: "y";
}
.icon-catherine-wheel:before {
  content: "z";
}
.icon-centaur:before {
  content: "A";
}
.icon-chapeau:before {
  content: "B";
}
.icon-chevalier-on-horseback:before {
  content: "C";
}
.icon-cock:before {
  content: "D";
}
.icon-coney-passant:before {
  content: "E";
}
.icon-conquefoil:before {
  content: "F";
}
.icon-coronet:before {
  content: "G";
}
.icon-dolphin-hauriant:before {
  content: "H";
}
.icon-dolphin-naiant:before {
  content: "I";
}
.icon-ducal-coronet:before {
  content: "J";
}
.icon-eagle-close:before {
  content: "K";
}
.icon-eagle-displayed:before {
  content: "L";
}
.icon-eagle-displayed-wings-inverted:before {
  content: "M";
}
.icon-eagle-double-headed:before {
  content: "N";
}
.icon-eagle-rising:before {
  content: "O";
}
.icon-eagle-rising-wings-addorsed:before {
  content: "P";
}
.icon-eagle-rising-wings-elevated-addorsed:before {
  content: "Q";
}
.icon-eagle-rising-wings-inverted:before {
  content: "R";
}
.icon-eagles-head-couped:before {
  content: "S";
}
.icon-eagles-head-erased:before {
  content: "T";
}
.icon-elephant-and-castle:before {
  content: "U";
}
.icon-enfield:before {
  content: "V";
}
.icon-estoile:before {
  content: "W";
}
.icon-falcon:before {
  content: "X";
}
.icon-fleece:before {
  content: "Y";
}
.icon-fleur-de-lis:before {
  content: "Z";
}
.icon-fox-passant:before {
  content: "0";
}
.icon-fox-sejeant:before {
  content: "1";
}
.icon-garb:before {
  content: "2";
}
.icon-goat-salient:before {
  content: "3";
}
.icon-hare-salient:before {
  content: "4";
}
.icon-heraldic-antelope-passant:before {
  content: "5";
}
.icon-heraldic-antelope-rampant:before {
  content: "6";
}
.icon-heraldic-tiger-passant:before {
  content: "7";
}
.icon-heraldic-tiger-rampant:before {
  content: "8";
}
.icon-heron:before {
  content: "9";
}
.icon-hind:before {
  content: "!";
}
.icon-horse-passant:before {
  content: "\"";
}
.icon-horse-rampant:before {
  content: "#";
}
.icon-leopard-head-erased:before {
  content: "$";
}
.icon-leopard-passant:before {
  content: "%";
}
.icon-leopard-rampant:before {
  content: "&";
}
.icon-leopards-face:before {
  content: "'";
}
.icon-lynx-coward:before {
  content: "(";
}
.icon-martlet:before {
  content: ")";
}
.icon-martlet-volant:before {
  content: "*";
}
.icon-mermaid:before {
  content: "+";
}
.icon-merman:before {
  content: ",";
}
.icon-mullet:before {
  content: "-";
}
.icon-mullet-1:before {
  content: ".";
}
.icon-mullet-of-6-points:before {
  content: "/";
}
.icon-mullet-of-points:before {
  content: ":";
}
.icon-mullet-pierced:before {
  content: ";";
}
.icon-oak-tree:before {
  content: "<";
}
.icon-ostrich:before {
  content: "=";
}
.icon-otter:before {
  content: ">";
}
.icon-owl:before {
  content: "?";
}
.icon-pegasus-passant:before {
  content: "@";
}
.icon-pegasus-rampant:before {
  content: "[";
}
.icon-popinjay:before {
  content: "]";
}
.icon-quatrefoil:before {
  content: "^";
}
.icon-ram-rampant:before {
  content: "_";
}
.icon-ram-statant:before {
  content: "`";
}
.icon-rams-head-caboshed:before {
  content: "{";
}
.icon-raven:before {
  content: "|";
}
.icon-reindeer:before {
  content: "}";
}
.icon-rose:before {
  content: "~";
}
.icon-rose-slipped-and-leaved:before {
  content: "\\";
}
.icon-salmon-hauriant:before {
  content: "\e000";
}
.icon-salmon-naiant:before {
  content: "\e001";
}
.icon-sea-horse:before {
  content: "\e002";
}
.icon-serpent-nowed:before {
  content: "\e003";
}
.icon-antelope-rampant-demonic:before {
  content: "\e004";
}
.icon-bears-head-couped-english:before {
  content: "\e005";
}
.icon-antelope-passant:before {
  content: "\e006";
}
.icon-acorn:before {
  content: "\e007";
}
.icon-bear-statnt:before {
  content: "\e008";
}
.icon-sheep-passant:before {
  content: "\e009";
}
.icon-ship-under-sail:before {
  content: "\e00a";
}
.icon-sphinx:before {
  content: "\e00b";
}
.icon-squirrel:before {
  content: "\e00c";
}
.icon-stag-at-gaze:before {
  content: "\e00d";
}
.icon-stag-lodged:before {
  content: "\e00e";
}
.icon-stag-springing:before {
  content: "\e00f";
}
.icon-stag-statant:before {
  content: "\e010";
}
.icon-stag-trippant:before {
  content: "\e011";
}
.icon-sun-in-splendor:before {
  content: "\e012";
}
.icon-swan:before {
  content: "\e013";
}
.icon-talbot-passant:before {
  content: "\e014";
}
.icon-talbot-rampant:before {
  content: "\e015";
}
.icon-talbot-sejeant:before {
  content: "\e016";
}
.icon-thistle:before {
  content: "\e017";
}
.icon-wolf-courant:before {
  content: "\e018";
}
.icon-wolf-passant:before {
  content: "\e019";
}
.icon-wolf-rampant:before {
  content: "\e01a";
}
.icon-wolf-salient:before {
  content: "\e01b";
}
.icon-wolf-statant:before {
  content: "\e01c";
}
.icon-yale:before {
  content: "\e01d";
}
.icon-yale-sejant-erect:before {
  content: "\e01e";
}
