$font_serif: Palatino Linotype, Book Antiqua, Palatino, serif;
$font_header: playfair_display_regular, Palatino Linotype, Book Antiqua, Palatino, serif;
$font_title: playfair_display_scregular, Palatino Linotype, Book Antiqua, Palatino, serif;
$font_button: playfair_display_black,  Palatino Linotype, Book Antiqua, Palatino, serif;
$font_sans: helvetica, arial, sans-serif;
$font_fixed: saxmonoregular, courier new;

$color_1: #14212B;
$color_2: #293845;
$color_3: #4F6373;
$color_4: #8F8164;
$color_5: #D9D7AC;


$color_lightest:   $color_5;
$color_light:      $color_4;
$color_dark:       $color_3;
$color_darkest:    $color_2;
$color_text:       $color_1;
$color_background: $color_5;
