$color_banquette:        #774F38;
$color_strawberry_sugar: #E08E79;
$color_creme_de_la_creme:#F1D4AF;
$color_powderpuff:       #ECE5CE;
$color_charlotte:        #C5E0DC;

$font_serif: chanticleer, georgia, 'times new roman', serif;
$font_sans: titillium_regular, helvetica, arial, sans-serif;
