$font_serif: chanticleer, georgia, 'times new roman', serif;
$font_sans: titillium_regular, helvetica, arial, sans-serif;

$color_accent:       #7C2B3B;
$color_accent_light: #A74D5E;
$color_background:   #EBF2F2;
$color_secondary:    #DBD4BB;
$color_primary:      #BEA89A;
$color_text:         #180F01;
