@import 'library';
@import 'bootstrap-override';
body {
  font-family: $font_sans;
  background-color: $color_background;
  color: $color_text;
  margin: 0;
  padding: 0 0 50px 0;
  #main {
    padding: 20px;
    h1, h2, h3, h4 {
      font-family: $font_serif;
    }
    ul {
      list-style-type: none;
      li {
        font: normal normal 12px/14px $font_sans;
      }
      &.form {
        background-color: $color_secondary;
        padding: 20px;
        label {
          display: inline-block;
          text-align: right;
          width: 100px;
        }
      }
      &.genes {
        li {
          display: inline-block;
          width: 15px;
          height: 10px;
          float: left;
        }
      }
    }
    .media {
      .histogram {
        text {
          &.key {
            font-size: 5px;
          }
        }
      }
    }
  }

}
