$color_background: '#E5E5E5';




$color_banquette:        "#774F38";
$color_strawberry sugar: "#E08E79";
$color_creme_de_la_creme:"#F1D4AF";
$color_powderpuff:       "#ECE5CE";
$color_charlotte:        "#C5E0DC";

body {
  background-color: $color_powderpuff;
  color: $color_banquette;
  font-family:
}
