@import 'library';
@import 'reset';
@import 'bootstrap-override';

body {
  font-family: $font_sans;
  background-color: $color_background;
  color: $color_text;
  margin: 0;
  padding: 0 0 50px 0;
  font: normal normal 14px/18px $font_serif;

  .typewriter {
    font-family: $font_fixed;
  }

  #main {
    padding: 20px;
    h1, h2, h3, h4 {
      font-family: $font_serif;
    }
    .community-icon-small {
      font-size: 36px;
    }

    ul.iconList {
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: white;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      height: 40ex;
      overflow: scroll;
      li {
        &.yes {
          color: white;
          background-color: $color_secondary;
        }
        vertical-align: middle;
        &:before {
          @include icon-size(24px);
          position: relative;
          top: 8px;
          margin-right: 5px;
        }
      }
    }

    .community-icon-medium {
      font-size: 72px;
    }
    .community-icon-large {
      font-size: 144px;
    }
    .community-icon-huge {
      font-size: 288px;
    }

    ul {
      list-style-type: none;
      &.form {
        background-color: $color_secondary;
        padding: 20px;
        label {
          display: inline-block;
          text-align: right;
          width: 100px;
        }
      }
      &.genes {
        margin: 0;
        padding: 0;
        li {
          float: left;
          display: inline-block;
          width: 3px;
          margin:0px;
          padding: 0px;
          height: 10px;
        }
      }
    }
  }
}
