<div class="container">
  <h1><%= title %></h1>
  <table class='table <%= title.toLowerCase() %>-list'>
    <thead>
      <tr>
        <th class="text-center">view</th>
        <% _.each(headers, function(header) { %>
        <th><%= header %></th>
        <% }); %>
        <th class="text-center">duplicate</th>
        <th class="text-center">edit</th>
        <th class="text-center">remove</th>
      </tr>

    </thead>
    <tbody class="children">
    </tbody>
  </table>
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a class="glyphicon glyphicon-plus add-new">New</a></li>
    </ul>
  </div>
</div>
