<h2>Beings</h2>
<div id="beings-children">
</div>
<div id="new-being">
  <ul class="form">
    <li>
      <label>First Name</label>
      <input type="text" data-field="name.first"/>
    </li>
    <li>
      <label>Last Name</label>
      <input type="text" data-field="name.last"/>
    </li>
    <li>
      <label>Occupation</label>
      <input type="text" data-field="occupation"/>
    </li>
    <li>
      <label>Genetics</label>
      <input type="text" data-field="genetics"/>
    </li>
    <li>
      <label>Gender</label>
      <select data-field="gender">
        <option>Male</option>
        <option>Female</option>
        <option>Neuter</option>
      </select>
    </li>
    <li>
      <label>Age</label>
      <input type="text" data-field="age"/>
    </li>
    <li>
      <input type="button" class="add-being"  value="Add"/>
    </li>
  </ul>
</div>
