<div class="container form">
  <% if (typeof _id != 'undefined') { %>
  <h2><%= JST['app/templates/includes/back.html']({path:'being'}) %><%= [name.first, name.last].join(' ')  %></h2>
  <% } else { %>
  <h2><%= JST['app/templates/includes/back.html']({path:'being'}) %>New</h2>
  <% } %>
  <form>
    <% if (typeof _id != 'undefined') { %>
    <input type="hidden" name="id" value="<%= _id %>"/>
    <% } %>
    <div class="form-group">
      <label for="name.first">First Name</label>
      <input type="text" class="form-control" name="name.first" value="<%= name.first %>"/>
      <label for="name.last">Last Name</label>
      <input type="text" class="form-control" name="name.last" value="<%= name.last %>"/>
    </div>
    <div class="form-group">
      <label for="species">Species</label>
      <div id="species-select" class="select-spacer">
      </div>
    </div>
    <div class="form-group">
      <label for="language">Language</label>
      <div id="language-select" class="select-spacer">
      </div>
    </div>
    <div class="form-group">
      <label for="steading">Steading</label>
      <div id="steading-select" class="select-spacer">
      </div>
    </div>
    <div class="form-group">
      <label for="occupation">Occupation</label>
      <div id="occupation-select" class="select-spacer">
      </div>
    </div>
    <div class="form-group">
      <label for="gender">Gender</label>
      <select name="gender" class="selectpicker">
        <option <%= gender == 'Male' ? 'selected' : '' %>">Male</option>
        <option <%= gender == 'Female' ? 'selected' : '' %>>Female</option>
        <option <%= gender == 'Neuter' ? 'selected' : '' %>>Neuter</option>
      </select>
    </div>
    <div class="form-group">
      <label for="age">Age</label>
      <input type="number" class="form-control" min="0"  name="age" value="<%= age %>"/>
    </div>
    <%= JST['app/templates/includes/form_buttons.html']() %>
  </form>
</div>
