<h2>Beings</h2>
<div id="beings-children">
</div>
<div id="new-being">
  <ul>
    <li> <input type="text" data-field="first_name"/> <label>First Name</label> </li>
    <li> <input type="text" data-field="last_name"/>   <label>Last Name</label> </li>
    <li> <input type="text" data-field="occupation"/>  <label>Occupation</label> </li>
    <li> <input type="text" data-field="gender"/>      <label>Gender</label> </li>
    <li> <input type="text" data-field="age"/>         <label>Age</label> </li>
    <li> <input type="button" class="add-being"  value="Add"/>
  </ul>
</div>
