<h2>Beings</h2>
<div id="beings-children">
</div>
<div id="new-being">
  <ul class="form">
    <li>
      <label>First Name</label>
      <input type="text" data-field="first_name"/>
    </li>
    <li>
      <label>Last Name</label>
      <input type="text" data-field="last_name"/>
    </li>
    <li>
      <label>Occupation</label>
      <input type="text" data-field="occupation"/>
    </li>
    <li>
      <label>Gender</label>
      <input type="text" data-field="gender"/>
    </li>
    <li>
      <label>Age</label>
      <input type="text" data-field="age"/>
    </li>
    <li>
      <input type="button" class="add-being"  value="Add"/>
    </li>
  </ul>
</div>
