<form>
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" name="name">
  </div>
  <div class="form-group">
    <label for="icon">icon</label>
    <select class="form-control" name="icon">

    </select>
  </div>
  <div class="form-group">
    <label for="colors">Colors</label>
    <input type="color" name="color.main">
    <input type="color" name="color.secondary">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" name="description"></textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
