<form>
  <% if (typeof _id !=='undefined') { %>
  <input type="hidden" name="id" value="<%= _id %>"/>
  <% } %>
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" name="name" value="<%=name %>">
  </div>
  <div class="form-group">
    <label for="icon">icon</label>
    <ul class="iconList">
      <% _.each(iconList, function(i, char) { %>
      <li  class="icon-<%= i %> <%= icon == i ? 'yes' : '' %> "><%= i %></li>
      <% }); %>
      </li>
    </ul>
    <input type="hidden" name="icon" value="<%= icon %>">
  </div>
  <div class="form-group">
    <label for="colors">Colors</label>
    <input type="color" name="colors.main" value="<%= colors.main %>">
    <input type="color" name="colors.secondary" value="<%= colors.secondary %>">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" name="description"><%= description %></textarea>
  </div>
  <%= JST['app/templates/includes/form_buttons.html']() %>
</form>
