<div class="container">

  <h1>Townomatic</h1>
  <p class="lead">
    Prepare yourself.
  </p>

  <p>
    Make a steading with a customized language, with people that are actually related to each other and share traits.
  </p>
</div>

<div class="container">
  <h2>Languages</h2>
  <p class="lead">Make a customized language for place and people names</p>
  <p>
    Base a new language off an existing or multiple existing languages
    to give your places a consistent flavor. How about a mix of French
    and Finnish for your Elves? How about Polish, Dutch and German for
    your Gnomes?
  </p>
</div>

<div class="container">
  <h2>Genetics and Heredity</h2>
  <p class="lead">Groups of people share genetic traits thanks to the heredity engine.</p>
  <p>
    Make a new species or subrace with specific genetic expressions,
    and watch how people reproduce and mix pass on their genetics to
    their children, creating interesting divisions in traits between
    areas and racial subgroups.
  </p>
</div>
