<div class="container detail">
  <h2><%= JST['app/templates/includes/back.html']({path:'language'}) %><%= name %></h2>
  <h4>Derived from: <%= corpora.join(',') %></h4>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Tools</h3>
    </div>
    <div class="panel-body">
      <form>
        <p>
          Get a glossary with english words and their translation into <%= name %>.
        </p>
        <button type="button" id="glossary-button" class="btn btn-default">Download Glossary</button>
        <p>
          Translate text into <%= name %> just by typing or pasting into the box below.
        </p>
        <div class="form-group">
          <textarea class="form-control" id="translate-words" name="translate-words"></textarea>
        </div>
        <div class="well" id="translation-results"></div>
        <p>
          Translate text from <%= name %> just by typing or pasting into the box below.
        </p>
        <div class="form-group">
          <textarea class="form-control" id="untranslate-words" name="untranslate-words"></textarea>
        </div>
        <div class="well" id="untranslation-results"></div>
      </form>
    </div>
  </div>
</div>
