<form>
  <% if (typeof _id !=='undefined') { %>
  <input type="hidden" name="id" value="<%= _id %>"/>
  <% } %>
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" name="name" value="<%= name %>">
  </div>

  <div class="container">
    <div class="left">
      <table id="genotypeUI" class="typewriter">
        <% _.each(geneticSpace, function(gs, i) { %>
        <tr class='genotypeRow' data-index="<%= i %>">
          <% _.each(gs, function(g) { %>
          <td class="genotypeCell" data-value="<%= g %>"><%= g %></td>
          <% }); %>
        </tr>
        <% }); %>
      </table>
    </div>
    <div class="right">
      <ul id="expressionDisplay">
        <% _.each(expression, function(exp, key) { %>
        <li>
          <%= key %>
          <ul class="expressionDisplayItem">
            <% _.each(exp, function(v,k) { %>
            <li>
              <span class='expressionKey'><%= k %></span>
              <span class='expressionValue' data-value="<%= v %>"><%= v %></span>
            </li>
            <% }); %>
          </ul>
          <% }); %>
        </li>
      </ul>
    </div>
  </div>

  <%= JST['app/templates/includes/form_buttons.html']() %>
</form>
